<<<<<<< af3850debda1368bb57e6d1dfbac5b808da6204b
<% provide(:title, t("static_pages.contact.title")) %>
<h1><%= t("static_pages.contact.title") %></h1>
<p>
  <%= t("static_pages.contact.contact") %>
  <a href="http://www.railstutorial.org/contact">
  <%= t("static_pages.contact.cp") %></a>.
=======
<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  Contact the Ruby on Rails Tutorial about the sample app at the
  <a href="http://www.railstutorial.org/contact">contact page</a>.
>>>>>>> Finish static pages
</p>
